<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CIXAPIProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CIXNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CIXAPIProxy.Properties.Settings>
            <setting name="oauthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CIXAPIServer" serializeAs="String">
                <value>http://api.cixonline.com/v1.0/</value>
            </setting>
            <setting name="CIXForums" serializeAs="String">
                <value>http://forums.cixonline.com</value>
            </setting>
            <setting name="CIXBetaAPIServer" serializeAs="String">
                <value>http://betaapi.cixonline.com/v1.0/</value>
            </setting>
            <setting name="CIXBetaForums" serializeAs="String">
                <value>http://betaforums.cixonline.com</value>
            </setting>
        </CIXAPIProxy.Properties.Settings>
    </userSettings>
</configuration>
